.repo-languages {
  display: flex;
  align-items: center;
}

.repo-languages-head {
  color: var(--black);
  font-size: 1.1rem;
  margin-right: 0.5rem;
}

.languages-section {
  display: flex;
  align-items: center;
  color: var(--dark-gray);
}

.languages-section .language {
  margin-right: 0.33rem;
}
