.repos {
  margin-top: 1.5rem;
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.repos-header h2 {
  width: 100%;
  color: #141414;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .repos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .repos-header {
    width: 100%;
  }
}
