.search-types {
  width: 5.1rem;
  color: var(--black);
  /* text-align: center; */
  background-color: var(--light-gray);
}

.search-types .current-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05rem;
  padding: 0.75rem;
}

.search-types .current-type .search-type-caret {
  cursor: pointer;
  transition: transform 250ms ease-out;
}

.search-types .current-type .search-type-caret.active {
  transform: rotate(180deg);
}

.search-types .search-types-drop-down {
}

.search-types .search-types-drop-down.active {
  max-height: 500px;
}

.search-types .search-types-drop-down .search-types-list {
  position: relative;
  width: auto;
  list-style: none;
  max-height: 0;
  transition: max-height 450ms ease-out;
  overflow: hidden;
}

.search-types .search-types-drop-down .search-types-list.active {
  max-height: 500px;
}

.search-types .search-types-drop-down .search-types-list li {
  width: auto;
  padding: 0.75rem;
}

.search-types .search-types-drop-down ul li:hover {
  background-color: red;
}
