.search-types {
  position: relative;
  width: 5.1rem;
  color: var(--black);
  background-color: var(--light-gray);
  border-radius: 10px 0 0 10px;
}

.search-types::after {
  position: absolute;
  content: "";
  height: calc(100% + 5px);
  width: 4px;
  background-color: var(--black);
  border-radius: 10px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.search-types .current-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05rem;
  padding: 0.75rem;
}

.search-types .current-type .search-type-caret {
  cursor: pointer;
  transition: transform 450ms ease-out;
}

.search-types .current-type .search-type-caret.active {
  transform: rotate(180deg);
}

.search-types .search-types-drop-down.active {
  max-height: 500px;
}

.search-types .search-types-drop-down .search-types-list {
  position: absolute;
  width: auto;
  list-style: none;
  max-height: 0;
  transition: max-height 450ms ease-out;
  overflow: hidden;
  z-index: 100;
}

.search-types .search-types-drop-down .search-types-list.active {
  max-height: 500px;
}

.search-types .search-types-drop-down .search-types-list li {
  background-color: var(--light-gray);
  width: auto;
  padding: 0.75rem;
}

.search-types .search-types-drop-down ul li:hover {
  background-color: red;
}
