.searchbar {
  text-align: center;
}

.searchbar-holder {
  display: flex;
}

.searchbar .searchbar-input {
  flex: 2;
}

.searchbar .searchbar-input input {
  display: inline-block;
  height: 100%;
  width: 100%;
  color: var(--dark-gray);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem;
  background-color: var(--light-gray);
  outline: none;
  border: none;
}

.search-btn {
  color: var(--white);
  font-size: 1rem;
  background-color: var(--green);
  padding: 0.75rem 1.75rem;
  border-radius: 3px;
  border: none;
  margin-top: 15px;
}

@media screen and (min-width: 375px) {
  .searchbar {
    display: flex;
  }

  .searchbar-holder {
    flex: 2;
  }

  .search-btn {
    margin-top: 0;
    border-radius: 0 5px 5px 0;
  }
}
