.profile-stats {
  position: relative;
  padding: 0 0.75rem;
  color: var(--black);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-stats::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  border-radius: 3px;
  background-color: var(--light-2-gray);
}

.profile-stats .stats-col {
  padding: 0.25rem 0.5rem;
}

.profile-stats .data-field {
  display: flex;
  padding: 0.33rem 0;
}

.data-field i {
  margin-right: 0.33rem;
}
