.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.profile-header .user {
  color: var(--black);
  font-size: 1.5rem;
}

.profile-header .profile-link {
  color: var(--sky-blue);
  font-size: 1.45rem;
}
